<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/cook/list.html</title>
</head>
<body>
	<a th:href="@{/cook/insertform}">요리 추가</a>
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>레시피</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cookDto : ${list}">
				<td>[[${cookDto.num}]]</td>
				<td>[[${cookDto.name}]]</td>
				<td>[[${cookDto.recipe}]]</td>
				<td><a th:href="@{/cook/updateform(num=${cookDto.num})}">수정</a></td>
				<td><a th:href="@{/cook/delete(num=${cookDto.num})}">삭제</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>