<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/cook/updateform.html</title>
</head>
<body>
	<div class="container">
		<h1>요리 수정 양식</h1>
		<form th:action="@{/cook/update}" method="post">
			<label for="num">번호</label>
			<input type="text" name="num" th:value="${cookDto.num}" readonly/>
			<br>
			<label for="name">이름</label>
			<input type="text" name="name" th:value="${cookDto.name}"/>
			<br>
			<label for="addr">레시피</label>
			<textarea name="recipe" cols="22" rows="5">${cookDto.recipe}</textarea>
			<br>
			<button type="submit">수정</button>
			<button type="reset">취소</button>
		</form>
	</div>
</body>
</html>