<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
									<!--/* resultType은 select만 필요함 */-->
	<select id="selectAll" resultType="com.example.boot14.dto.PostDto">
		SELECT id, title, author
		FROM board_post
		ORDER BY id asc
	</select>
	
	<insert id="insert" parameterType="com.example.boot14.dto.PostDto">
		INSERT into board_post
		(id, title, author)
		VALUES(#{id}, #{title}, #{author})
	</insert>
	<select id="getSequence" resultType="int">
		SELECT board_post_seq.nextval
		FROM dual
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE from board_post
		WHERE id = #{int}
	</delete>
	
	<select id="select" parameterType="int" resultType="com.example.boot14.dto.PostDto">
		SELECT id, title, author
		FROM board_post
		WHERE id = #{int}
	</select>
	
	<update id="update" parameterType="com.example.boot14.dto.PostDto">
		UPDATE board_post
		SET title = #{title, jdbcType = VARCHAR}, author = #{author, jdbcType = VARCHAR}
		WHERE id = #{id}
	</update>
</mapper>